<h3>Shorten a url!</h3>
 <form method="post" action="">
    <label for="url">Url to shorten: </label>
       <input type="text" name="url" id="url" />
     <br />
    <label for="user">Username: </label>
       <input type="text" name="user" id="user" value="Anonymous" />
     <br />
       <input type="submit" value="Shortened!" /> 
 </form>
